<h1> Personal Budget </h1>

<hr />
<input id="money_made" type="number" placeholder="Money Made"></input>
<button type="button" id="money_made_button">Set Money</button>
<br />

<script>
  document.write(totalMoney);
</script>
