<h1> Personal Budget </h1>

<hr />
<input id="money_made" type="number" placeholder="Money Made"></input>
<button type="button" id="money_made_button">Set Money</button>
<br>
<input id="money_lost" type="number" placeholder="Bill"></input><br>
<input id="money_lost1" type="number" placeholder="Bill#2"></input><br>
<input id="money_lost2" type="number" placeholder="Bill#3"></input><br>
<input id="money_lost3" type="number" placeholder="Bill#4"></input><br>
<button type="button" id="money_lost_button">Pay Bill</button>
<br />

<script>
  document.write(totalMoney);
</script>
