<h1> Personal Budget </h1>

<hr />
<input id="money_made" type="number" placeholder="Money Made"></input>
<button type="button" id="money_made_button">Set Money</button><br>
<br>
<div id="the_bills">
  <input id="money_lost0" type="number" placeholder="Bill"></input>

</div>
<button type="button" id="money_lost_button">Pay Bill</button><br>
<button type="button" id="add_more_bills">Add More Bills</button>
<br />


<h1>Money Coming In</h1>
<h2 id="money_coming_in">$0</h2>

<h1>Money Going Out</h1>
<h2 id="money_going_out">$0</h2>

<h1>Left Over Money</h1>
<h2 id="money_left_over">$0</h2>
