<h1> Personal Budget </h1>

<hr />
<input id="money_made" type="number" placeholder="Money Made"></input>
<button type="button" id="money_made_button">Set Money</button>
<br />

<h1>Money Coming In</h1>
<h2>$</h2><h2 id="money_coming_in">Money Coming In</h2>

<h1>Money Going Out</h1>
<h2>$</h2><h2 id="money_going_out">Money Going Out</h2>

<h1>Lef Over Money</h1>
<h2>$</h2><h2 id="money_left_over">Money Left Over</h2>

