<!DOCTYPE html>
<html>
<head>
  <title>MoreJavascript</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag 'personal-budget' %>

</body>
</html>
